.nav-link {
  font-size: 50px;
  color: #2196f3;
  text-decoration: none;
}
a:hover {
  color: aqua;
  font-size: 100px;
}
ul {
  display: flex;
  justify-content: center;
  gap: 50px;
}
.link {
  color: blueviolet;
}
li {
  color: aqua;
}
li:hover {
  color: blueviolet;
}
a:active {
  color: green;
}

.calendar {
  font-size: 24px;
  border-collapse: collapse;
  margin: 0 auto;
}
.calendar th,
.calendar td {
  border: 1px solid #000000;
  padding: 10px;
  text-align: center;
}

.calendar th {
  background-color: rgb(101, 57, 101);
}
.calendar td {
  cursor: pointer;
  transition: all 250ms linear;
  background-color: rgb(235, 153, 235);
}
.calendar .active,
.calendar td:hover {
  color: #ffffff;
  background-color: #800080;
}
